<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Update Trade</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post"
              class="form-horizontal" style="width: 100%">
            <!--
            form to edit the values of Trade, there are 2 buttons: Update data and Cancel to the Trade List
             -->
            <legend>Account</legend>
            <input type="text" class="form-control" placeholder="Account" th:field="*{account}" required
                   autofocus="autofocus">
            <br>
            <legend>Type</legend>
            <input type="text" class="form-control" placeholder="Type" th:field="*{type}" required
                   autofocus="autofocus">
            <br>
            <legend>Buy quantity</legend>
            <input type="number" step="any" class="form-control" placeholder="Buy quantity" th:field="*{{buyQuantity}}"
                   autofocus="autofocus">
            <br>
            <a href="/trade/list" class="btn btn-danger col-2" role="button" aria-pressed="true">Cancel</a>
            <button type="submit" class="col-3 btn btn-primary">Update Trade</button>
        </form>
    </div>

</div>
</body>
</html>