<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Update New Rule</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" th:object="${ruleName}" method="post"
              class="form-horizontal" style="width: 100%">
            <!--
            a form to edit the values of RuleName, there are 2 buttons: Update data and Cancel to the RuleName
             -->
            <legend>Name</legend>
            <input type="text" class="form-control" placeholder="Name" th:field="*{name}" required
                   autofocus="autofocus">
            <br>
            <legend>Description</legend>
            <input type="text" class="form-control" placeholder="Description" th:field="*{description}"
                   autofocus="autofocus">
            <br>
            <legend>Json</legend>
            <input type="text" class="form-control" placeholder="Json" th:field="*{json}"
                   autofocus="autofocus">
            <br>
            <legend>Template</legend>
            <input type="text" class="form-control" placeholder="Template" th:field="*{template}"
                   autofocus="autofocus">
            <br>
            <legend>Sql</legend>
            <input type="text" class="form-control" placeholder="Sql" th:field="*{sqlStr}"
                   autofocus="autofocus">
            <br>
            <legend>SqlPart</legend>
            <input type="text" class="form-control" placeholder="SqlPart" th:field="*{sqlPart}"
                   autofocus="autofocus">
            <br>
            <a href="/ruleName/list" class="btn btn-danger col-2" role="button" aria-pressed="true">Cancel</a>
            <button type="submit" class="col-3 btn btn-primary">Update RuleName</button>

        </form>
    </div>

</div>
</body>
</html>